body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


main {
  display: flex;
  gap: 10vw;
  height: 40vh;
}

/* Lobby Container*/
.lobby {
  display:flex;
  justify-content: space-between;
  width: 50vw;
  height: 100%;
  background-color: antiquewhite;
}

.lobby button {
  height: 10%;
}



/* Chat Container*/
.chat-container {
  display:flex;
  flex-direction: column;
}
.chat-container form{
  display:flex;
}

.chats {
  min-height: 20%;
}



/* Teams */

.team {
  display:flex;
  flex-direction: column;
}

.team h2, h3{
  padding: 1vh 2vw;
}