body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


main {
  display: flex;
  gap: 10vw;
  height: 40vh;
}
.drawing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Lobby Container*/
.lobby {
  display:flex;
  justify-content: space-between;
  width: 50vw;
  height: 100%;
  background-color: antiquewhite;
}

.lobby button {
  height: 10%;
}



/* Chat Container*/
.chat-container {
  display:flex;
  flex-direction: column;
}
.chat-container form{
  display:flex;
}

.chats {
  min-height: 20%;
}



/* Teams */

.team {
  display:flex;
  flex-direction: column;
}

.team h2, h3{
  padding: 1vh 2vw;
}

/* Overlay*/



#popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.685);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9998;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
}

#overlay {
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  right: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  z-index: 9999;
}

#canvas {
  background-color: antiquewhite;
}

#countdown {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 200px;
  font-size: 50px;
  /* background-color: red; */
}